.dropdown-menu li{
    position:relative;
}
.dropdown-menu>li:hover>.submenu{
    display: block;
}
.dropdown-menu .submenu{
    position: absolute;
    display: none;
    left:50%;
    top:0px;
}

@media(min-width:1024px){
    .dropdown-menu li{
        position:relative;
    }
    .dropdown-menu .submenu{
        position: absolute;
        display: none;
        left:100%;
        top:-7px;
    }
    
}
